<table>
    <tr>
        <td width="70px">
            <a href="{{ url_for('main.profile', username=chat_user.username) }}">
                <img src="{{ chat_user.avatar(70) }}" />
            </a>
        </td>
        <td>
                <h4>&nbsp<a href="{{ url_for('main.profile', username=chat_user.username) }}">
                        {{ chat_user.username }}
                    </a>, {{ get_new_count(username1=current_user.username, username2=chat_user.username) }} new messages</h4>
            
            <h4>&nbsp<a href="{{ url_for('main.chat', currentusername=current_user.username, username=chat_user.username) }}">Chat</a></h4>
        </td>
    </tr>
</table>